
body{
    background-color: rgb(3, 3, 3);
}

.image-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 10em;
}

.image-container img {
  margin: 1rem;
    object-fit: contain; 
}

.button-container{
    display: flex;
  justify-content: center;
  align-items: center;
}

.button {
    font-weight: 600;
  background-color: #cf288a;
  border: rgb(97, 85, 85) solid 1px;
  color: rgb(199, 125, 125);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 2rem;
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 5px;
}


.button:hover {
  background-color: #6354e6;
  color: #f72828;
}

.button:active {
  background-color: #3e8e41;
}

